    <div class="row">
      <form action="/word_count" method="post">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" name="sentence" id="sentence">
          <label class="mdl-textfield__label" for="sentence">Enter sentence</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" name="word" id="word">
          <label class="mdl-textfield__label" for="word">Word to match</label>
        </div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">Submit</button>
      </form>
    </div>
