    <form action="/word_count" method="post">
      <input type="text" name="sentence" id="sentence" placeholder="write something awesome here">
      <input type="text" name="word" id="word" placeholder="Word to compare">
      <button type="submit">Submit</button>
    </form>
