<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Word Count</title>
  </head>
  <body>
    <form action="/" method="post">
      <input type="text" name="sentence" id="sentence" placeholder="write something awesome here">
    </form>
  </body>
</html>
