<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Word Count</title>
  </head>
  <body>
    <h1>Word Counting App</h1>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
